{% extends "board/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Regsiter Your Company Here</legend>
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-info" type="submit">Sign Up</button>

                <p class='border-top mt-2'> Is this company already in the database? Add a job <a href={% url 'staff-add-job'%}>here</a></p>
                <p>Astrixes (*) designate required fields</p>
            </div>
        </form>
    </div>
{% endblock content %}
