{% extends "board/base.html" %}
{% block content %}
    
    <!-- Jumbotron start-->
    <div class="jumbotron">
      <h1 class="display-4">Home</h1>
      {% if user.is_authenticated %}
        <p class="lead">Welcome, {{ user.first_name }}, to the Magnuson Job Board. You can explore all types of jobs through our search function.</p>
      {% else %}
        <P class='lead'> Welcome to the Magnuson Job Board. Please log in or create and account to view all of the wonderful content this site has to offer!.</p>
      {% endif %}
    
    </div>
    <!-- Jumbotron end-->

    

{% endblock content %}
