{% extends "company/base.html" %}
{% block content %}
    <!-- Jumbotron start-->
    <div class="jumbotron">
      <h1 class="display-4">Company Portal</h1>
      <p class="lead">Hello and welcome to the Magnuson Job Board Company Portal. Here you can sign up to 
                        be one of our member companies or post a new job. Use the below links to navigate 
                        site.</p>
    </div>
    <!-- Jumbotron end-->
    <div class="container" align='center'>  
        <a class='btn btn-primary' href={% url 'company-sign-up' %} role='button'>Sign Up</a>
        <a class='btn btn-primary' href={% url 'company-add' %} role='button'>Add a Job</a>
    </div>
{% endblock content %}
