{% extends "board/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login Here</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Log In</button>
                <p class='border-bottom mt-4'> Don't have an account? Make one <a href={% url 'register' %}>here</a></p>
            </div>
        </form>
    </div>
{% endblock content %}